.git
.github
dist
.local
**/.dart_tool
**/.gradle
**/.kotlin
**/node_modules
apps/mobile/build/*
!apps/mobile/build/web/
!apps/mobile/build/web/**
apps/mobile/android
apps/mobile/ios
apps/mobile/linux
apps/mobile/macos
apps/mobile/windows
assets/copybooks/**/source-images
assets/copybooks/**/normalized
assets/copybooks/**/crops
